.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(128 , 128, 128, 0.6);
}

.modal {
    position: fixed;
    top: 15vh;
    left: 20vw;
    width: 60vw;
    height: 70vh;
    z-index: 10000;
    display: flex;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1px;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 5px 10px 100px 10px #ededed;
    background-color:white;
    color: black;
}

.modal::-webkit-scrollbar {
    width: 5px;
    padding: 5vh 0;
    background-color: gray;
}
.posterContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    /* margin-left: -1.5vw; */
}
.posterImage {
    border-radius: 30px;
    width: auto;
    height: 60vh;
}

.buyIcon {
    width: 50px;
    height: 50px;
}

.castContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
strong {
    padding-left: 10px;
}
.buyRentContainer {
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    flex-direction: row;
}
.infomovie {
    margin-left: 2vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    /* justify-content: space-around; */
}
.infomovie strong {
    margin-bottom: 0;
}
.infomovie h3, .infomovie h2, .infomovie div {
    margin-top: 1vh;
}
.close {
    position: relative;
    left: 95%;
    top: 4%;
}

.trailerContainer {
    width: 20vw;
    margin: 5px;
    border-radius: 20px;
}
.trailerHorizontal {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.youtube {
    width: 20vw;
    height: auto;
    margin: 10px;
}
@media(max-width:850px){
    .close {
        left: 90%;
    }
    
    .modal {
        top: 5vh;
        left: 5vw;
        padding: 0;
        justify-content: flex-start;
        width: 90vw;
        height: 90vh;
    }

    .posterContainer {
        /* background-color: rgb(24, 108, 80); */
        margin-left: -3vw;
    }

    .posterImage {
        width: 35vw;
        margin: 0;
    }
}